//- Все примеси в этом файле должны начинаться c имени блока (popup)
//- Упоминание имени блока в классах обязательно, без этого он не попадёт
//- в сборку

mixin popup
  .hystmodal#thanks(aria-hidden="true")
    .hystmodal__wrap
      .popup.popup--mini.hystmodal__window(role="dialog", aria-modal="true")
        button.popup__close.hystmodal__close(data-hystclose)
          svg.svg.popup__icon
            use(href=path.icon + "icon__close")
        .popup__message
          h2.popup__title Спасибо за вопрос!
          p.popup__p В ближайшее время мы ответим Вам на указанную почту.

mixin popup-error
  .hystmodal#error(aria-hidden="true")
    .hystmodal__wrap
      .popup.popup--mini.hystmodal__window(role="dialog", aria-modal="true")
        button.popup__close.hystmodal__close(data-hystclose)
          svg.svg.popup__icon
            use(href=path.icon + "icon__close")
        .popup__message
          h2.popup__title Произошла ошибка!
          p.popup__p Мы её уже устраняем, попробуйте повторить позже.

mixin popup-login-error
  .hystmodal#login-error(aria-hidden="true")
    .hystmodal__wrap
      .popup.popup--mini.hystmodal__window(role="dialog", aria-modal="true")
        button.popup__close.hystmodal__close(data-hystclose)
          svg.svg.popup__icon
            use(href=path.icon + "icon__close")
        .popup__message
          h2.popup__title Произошла ошибка!
          p.popup__p Неверный логин или пароль!

mixin popup-registration-success
  .hystmodal#registration-success(aria-hidden="true")
    .hystmodal__wrap
      .popup.popup--mini.hystmodal__window(role="dialog", aria-modal="true")
        button.popup__close.hystmodal__close(data-hystclose)
          svg.svg.popup__icon
            use(href=path.icon + "icon__close")
        .popup__message
          h2.popup__title Вы зарегистрированы!
          p.popup__p Регистрация прошла успешно

mixin popup-restore-success
  .hystmodal#restore-success(aria-hidden="true")
    .hystmodal__wrap
      .popup.popup--mini.hystmodal__window(role="dialog", aria-modal="true")
        button.popup__close.hystmodal__close(data-hystclose)
          svg.svg.popup__icon
            use(href=path.icon + "icon__close")
        .popup__message
          h2.popup__title Проверьте почту!
          p.popup__p Ссылка для смены пароля отправлена на почту

mixin popup-restore-error
  .hystmodal#restore-error(aria-hidden="true")
    .hystmodal__wrap
      .popup.popup--mini.hystmodal__window(role="dialog", aria-modal="true")
        button.popup__close.hystmodal__close(data-hystclose)
          svg.svg.popup__icon
            use(href=path.icon + "icon__close")
        .popup__message
          h2.popup__title Произошла ошибка!
          p.popup__p Пользователь не найден

mixin popup-reset-success
  .hystmodal#reset-success(aria-hidden="true")
    .hystmodal__wrap
      .popup.popup--mini.hystmodal__window(role="dialog", aria-modal="true")
        button.popup__close.hystmodal__close(data-hystclose)
          svg.svg.popup__icon
            use(href=path.icon + "icon__close")
        .popup__message
          h2.popup__title Пароль был изменён!
          p.popup__p Войдите используя новый пароль
